@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap");

@media (max-width: 768px) {
}

@media (max-width: 768px) {
  .logo {
    min-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  height: 100%;
}

.logo {
  width: 40%;
  object-fit: contain;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

/* .pie-chart {
  max-height: 50vh;
  max-width: 50vh;
} */
